@page "/"
@inject HttpClient m_HttpClient

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>
    The test val is: @testVal
</p>

@code {
    string? testVal;

    protected override async Task OnInitializedAsync()
    {
        HttpResponseMessage httpResponse = await m_HttpClient.GetAsync("test/GetTest");

        httpResponse.EnsureSuccessStatusCode();


        testVal = await httpResponse.Content.ReadAsStringAsync();
    }
}
